*{
	margin:0px;
	padding: 0px;
}

header.top-header{
	background-color: #2B2E34;
	height: 50px;
}

.top-header-bar{
	color: white;
	list-style:none;

}
.top-header-bar li.top-mail{
	float: left;
	padding-top: 13px;
}
.top-header-bar li.top-search{
	float: right;
	padding: 13px;
}
.top-header-bar li.top-search input{
	width: 230px;
	height: 30px;
	background-color: #25262B;
	border: none;
}
.top-header-bar li.top-search button{
	width: 30px;
	height: 29px;
	background-color: #25262B;
	position: relative;
    left: -5px;
	border: none;
}

.top-header-bar li.top-cart{
	float: right;
	background-color: #f43818;
	padding: 13px;
}
.top-header-bar li.top-cart a{
	text-decoration: none;
	color: #fff;
}


.top-header-bar li.top-account{
	float: right;
	padding: 13px;
}
.top-header-bar li.top-account a{	
	text-decoration: none;
	color: #fff;
}
header.site-header{
	background-color: #25262B;
	height: 153px;
}
ul.menu-header{
	width: 100%;
	margin-top: 15px;
	border-top:1px solid #35373e;
	list-style: none;
	padding: 15px;
}
ul.menu-header li{
	margin-right: 30px;
	display:inline-block; 
	color: white;
	font-family: karla;
    font-size: 15px;
}
ul.menu-header li a {
	color: white;
	text-decoration: none;
}
ul.menu-header li a.active{
	color: #F6623C;
}
.owl-carousel{
	width: auto;
}
.owl-carousel img{
	width: 100%;	
	height: auto;
}
.hero-caption{
	width: 30%;
	position: absolute;
	left: 300px;
	top: 400px;
}
.hero-caption span.year{
	color: #fff;
	font-size: 78px;
    font-weight: 700;
    font-family: "Karla", sans-serif;
    line-height: 1.5;
}
.hero-caption span.caption{
	color: #fff;
	font-size: 28px;
    font-weight: 700;
    display: inline-block;
    width: 100px;
    line-height: 30px;
    margin-left: 16px;
    font-family: "Karla", sans-serif;
}
.btn-group a.shop-now{
	text-decoration: none;
	display: inline-block;
    border-width: 2px;
    font-weight: 700;
    border: 2px solid;
    border-color: #F66249;
    border-radius: 3px;
    background: #F66249;
    color: #FFF;
    font-size: 15px;
    padding: 8px 20px;

}
.btn-group a.learn-more{
	margin-left: 12px;
	text-decoration: none;
	display: inline-block;
    border-width: 2px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #FFF;
    font-size: 15px;
    padding: 8px 20px;
}
.btn-group a.learn-more:hover{
	margin-left: 12px;
	text-decoration: none;
	display: inline-block;
    border-width: 2px;
    font-weight: 700;
    border: 2px solid #F66249;
    background: #F66249;
    border-radius: 3px;
    color: #FFF;
    font-size: 15px;
    padding: 8px 20px;
}
.site-content{
	clear: both;
	width: auto;
	height: auto;
}
.content-area-1{
	background-color: #f7f7f9;
	border-bottom: 1px solid #ebe9eb;
}
.col-sm-9{
	margin-bottom: 80px;
}
.product-top h3{
	font-size: 25px;
	padding: 20px 20px 10px 10px;
}
.product-top{
	position: relative;
}
.product-top .border{
	position: absolute;
    left: 10px;
    top: 55px;
    width: 45px;
    height: 6px;
    content: '';
    display: block;
    background: #F66249;  
}
.row .col-xs-12{
	width: 100%;
}
.flex-fill{
	text-align: center;
}
.flex-fill img{
	width: 100%;
}
.flex-fil .tyche-product{
	width: 100%;
}
.tyche-product h3{
	font-weight: bold;
	font-size: 20px;

}
.tyche-product span{
	display: block;
	font-weight: bold;
	font-size: 20px;
}
.btn-danger{
	background-color: #F66249;
}
.col-sm-3{
	padding: 0px;
	margin: 0px;
}
.tyche-banner{
	background-image:url(https://demo.colorlib.com/tyche/wp-content/uploads/sites/64/2017/06/long-dress-1438140_1920.jpg);
	min-height: 475px;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.tyche-banner2{
	background-image:url(https://demo.colorlib.com/tyche/wp-content/uploads/sites/64/2017/06/high-heels-1426011_1920.jpg);
	min-height: 475px;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}
.tyche-banner-caption{
	position: absolute;
	top: 145px;
	left: 40px;

}
.tyche-banner-caption span{
	display: block;
	color:#fff;
	text-align: center;
}
.tyche-banner-caption span.first_line{
	font-size: 15px;
	font-weight: bold;
	font-family: "Karla", sans-serif;
}
.tyche-banner-caption span.second_line{
	font-size: 70px;
	font-weight: bold;
	font-family: "Karla", sans-serif;
}
.tyche-banner-caption span.third_line{
	font-size: 15px;
	font-weight: bold;
	font-family: "Karla", sans-serif;
}
.tyche-banner-caption a.btn-danger{
	margin-top: 10px;
}
.content-area-2{
	margin-bottom: 50px;
}
.tyche-product-main{
	margin-top: 10px;
}
.border-most-wanted{
	margin: 30px 0px;
}
.tyche-product-body{
	float: right;
	margin-right: 30px;
}
.tyche-product-body a{
	text-decoration: none;
	font-size: 16px; 
	font-family: sans-serif;
	color: black;
}
.tyche-product-body a:hover{
	color: #F66249;
}
.tyche-product-body span{
	display: block; 
	font-family: "Karla", sans-serif;
    line-height: 1.5;
	font-size: 20px;
    font-weight: 700;	
}
.tyche-product-body a.btn-success{
	margin-top: 10px;
	padding: 12px;
	font-size: 13px;
	color: white;
	background-color: #7eab31;
	border-color: #7eab31;
}
.content-area-3{
	margin-bottom: 70px;
}
.col .product-featured{
	text-align: center;
}
.add-cart-feature{
	margin-top: 20px;
	padding: 8px 20px;
	border-color: #ffab1a;
	background-color: #ffab1a;
}
.content-area-4{
	
	background-color: #f7f7f9;
}
.blog{
	padding-bottom: 50px;
}
.tyche-date{
	float: left;
	width: 90px;
	height: 90px;
	padding-top: 15px;
	text-align: center;
	background-color: #fff;
}
.tyche-date span.day{
	display: block;
	font-weight: 700;
	font-family: "Karla", sans-serif;
	font-size: 27px;
}
.tyche-date span.month{
	font-family: "Karla", sans-serif;
	font-size: 18px;
}
.tyche-image{
	float: left;
}
.tyche-post-content{
	float: left;
	margin-left: 20px;
}
.tyche-post-content p a{
	text-decoration: none;
	font-weight: 550;
	font-size: 20px;
	font-family: "Karla", sans-serif;
	color: black;
}
.meta-list{
	list-style: none;
}
.meta-list li{
	display: inline-block;
}
.meta-list .post-author a{
	color: black;
	text-decoration: none;
}
.meta-list .post-comments a{
	color: black;
	text-decoration: none;
}
.add-cart-trends{
	background-color: #2279d3;
	border-color: #2279d3;	
}
.content-area-5{
	
	background-color: #fff;
}
.trend{
	padding-bottom: 50px;
}
.footer-top{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #25262b;
	color: #fff;
}
.list-meta{
	list-style: none;
}
.list-meta li a{
	text-decoration: none;
	color: #e3e3e3;
}
.list-meta li a:hover{
	color: #F66249;
}
.image{
	margin-bottom: 15px;
}
.tyche-title{
	width: 200px;
	margin-left: 15px;
}
.tyche-title p a{
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-family: "Karla", sans-serif;
}
.textwidget p{
	color: #e3e3e3;
}